.home {
  // header{
  //   display:flex;
  //   border:1px solid red;
    
  //   div{
  //     display:flex;
  //     border:1px solid blue;

  //     h1{
  //       border:1px solid green;
  //     }//end of h1
  //     nav{
  //       border:1px solid green;

  //       .links{
  //         border:1px solid red;
  //       }//end of links
  //     }//end of nav
  //   }//end of divs in header (heading and nav)
  // }//end of header section
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }//end of text content

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }//endof img
    }//end of img content
  }//end on content-section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }//end of text content

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }//end of img content
  }//end of inverse content

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }//end of img
  }//end of content destination

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }//end of destination
  }//end of content pick
}// home