// Navigation Styles here
nav{
    width:100%;
    margin-top: 1%;
    
    .links{
      width:80%;
      height: 8vh;
      .flex(space-evenly, center);
      margin-left:20%;


      @media @mobile{
        width:100%;
        margin-left:0;    
      }//end of media query
      
      a{
        text-decoration: none;
        color:black;
        font-size:1.5rem;

      }//end of a
    }//end of links
  }//end of nav