// Navigation Styles here
nav{
    border:1px solid green;
    width:50%;
    
    .links{
      border:1px solid red;
      width:100%;
      height: 5vh;
      display:flex;
      justify-content: space-around;
      align-items: center;
      
      a{
        text-decoration: none;
        color:black;
        font-size:1.5rem;
      }//end of a
    }//end of links
  }//end of nav